@using Resources;
@using R6MatchFinder.Models
@model IndexViewModel



<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="">
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div>
                @if (Model.HasPassword)
                {
                    @Html.Partial("_ChangePassword", new ChangePasswordViewModel())
                }
                else
                {
                    @Html.Partial("_SetPassword", new SetPasswordViewModel())
                }
            </div>

        </div>
    </div>
    <div class="panel" style="box-shadow: none;">
        <div id="collapseTwo" class="panel-collapse collapse collapse in text-center" role="tabpanel" aria-labelledby="headingTwo">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                @if (Model.HasPassword)
                {
                    @resources.CHANGE
                }
                else
                {
                    @resources.CREATE
                }
            </button>

        </div>
    </div>
</div>

@section Scripts {
}
