<div class="container">

    <div id="divGamesGrid" style="border-radius: 20px;">
        <ul class="nav nav-tabs" id="tabStrip" style="border-radius: 5px;">
            <li id="tabJoinGame" class="nav-item" ng-click="vm.view = 'JoinGame'"><a id="lnkJoinGame" ng-class="{active: vm.view=='JoinGame' || vm.view==''}" class="nav-link" href="#">{{resolve('JOIN_GAME')}}</a></li>
            <li id="tabMyGames" class="nav-item" ng-click="vm.view = 'MyGames'"><a id="lnkMyGames" ng-class="{active: vm.view=='MyGames'}" class="nav-link" href="#">{{resolve('MY_GAMES')}}</a></li>
            <li id="tabMyStats" class="nav-item" ng-click="vm.view = 'MyStats'"><a id="lnkMyStats" ng-class="{active: vm.view=='MyStats'}" class="nav-link" href="#">{{resolve('MY_STATS')}}</a></li>
        </ul>

        <div id="divGridView">
            <div ng-switch="vm.view" class="card card-block">
                <div ng-switch-default>
                    <ng-include src="'/Views/Games/upcoming-games-grid.html'"></ng-include>
                </div>
                <div ng-switch-when="MyGames">
                    <ng-include src="'/Views/Games/my-games-grid.html'"></ng-include>
                </div>
                <div ng-switch-when="MyStats">
                    <ng-include src="'/Views/Games/my-statistics.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>

    <div bootstrap-tour></div>


    <div>
        <div game-chat-container></div>
    </div>
</div>
