<div>
    <form name="createForm" ng-submit="$close(vm.game)">
        <div class="modal-header">
            <h3 class="col-md-11">{{resolve('CREATE_A_GAME')}}</h3>
            <div class="col-md-1 pull-right">
                <button type="button" class="btn btn-secondary fa fa-times" ng-click="$dismiss()"></button>
            </div>
        </div>
        <div class="modal-body" style="height: 560px;">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{resolve('GAME_SETTINGS')}}
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">{{resolve('TIME')}}</label>
                                    <div>
                                        <div datetimepicker ng-model="vm.game.date"></div>
                                    </div>
                                    <div class="text-info">
                                        <small>{{resolve('START_TIME_IS_LIMITED_TO_WITHIN_SIX_HOURS_FROM_NOW')}}</small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">{{resolve('PLAYERS_PER_TEAM')}}</label>
                                    <div>
                                        <div radio-button-group ng-model="vm.game.playersPerTeam" count="3" start="3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">{{resolve('RULE_SET')}}</label>
                                    <div>
                                        <div enum-dropdown="RULE_SET" ng-model="vm.game.rules" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">{{resolve('HUD_SETTINGS')}}</label>
                                    <div>
                                        <div enum-dropdown="HUD_SETTINGS" ng-model="vm.game.hud" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">{{resolve('TIME_OF_DAY')}}</label>
                                    <div>
                                        <div enum-dropdown="TIME_OF_DAY" ng-model="vm.game.time" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title collapsed" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            {{resolve('MATCH_SETTINGS')}}
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="padding-bottom:10px;">

                        <div class="form-group row">
                            <div class="col-md-3 text-center">
                                <label class="form-control-label">{{resolve('NUMBER_OF_ROUNDS')}}</label>
                                <div radio-button-group ng-model="vm.game.matchSettings.numberOfRounds" count="4" start="1"></div>
                            </div>
                            <div class="col-md-3 text-center">
                                <label class="form-control-label">{{resolve('ROLE_SWAP')}}</label>
                                <div radio-button-group ng-model="vm.game.matchSettings.roleSwap" count="4" start="1"></div>
                            </div>
                            <div class="col-md-6 text-center">
                                <label class="form-control-label">{{resolve('OBJECTIVE_ROTATION_PARAMETER')}}</label>
                                <div radio-button-group ng-model="vm.game.matchSettings.objectiveRotationParameter" show-null="true" null-text="{{resolve('OFF')}}" count="7"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3 text-center">
                                <label class="form-control-label">{{resolve('OVERTIME_ROUNDS')}}</label>
                                <div radio-button-group ng-model="vm.game.matchSettings.overtimeRounds" count="4" start="1"></div>
                            </div>
                            <div class="col-md-3 text-center">
                                <label class="form-control-label">{{resolve('OVERTIME_ROLE_CHANGE')}}</label>
                                <div radio-button-group ng-model="vm.game.matchSettings.overtimeRoleChange" count="4" start="1"></div>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="form-control-label">{{resolve('OVERTIME_SCORE_DIFFERENCE')}}</label>
                                <div radio-button-group ng-model="vm.game.matchSettings.overtimeScoreDifference" count="4" start="1"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4 text-center">
                                <label class="form-control-label">{{resolve('DAMAGE_HANDICAP')}}</label>
                                <div>
                                    <div class="text-center">{{vm.game.matchSettings.damageHandicap}}</div>
                                    <div bootstrap-slider ng-model="vm.game.matchSettings.damageHandicap" max-value="150" min-value="50" step="10" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="form-control-label">{{resolve('FRIENDLY_FIRE_DAMAGE')}}</label>
                                <div>
                                    <div class="text-center">{{vm.game.matchSettings.friendlyFireDamage}}</div>
                                    <div bootstrap-slider ng-model="vm.game.matchSettings.friendlyFireDamage" max-value="150" min-value="50" step="10" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <label class="form-control-label">{{resolve('INJURED_HEALTH')}}</label>
                                <div>
                                    <div class="text-center">{{vm.game.matchSettings.injuredHealth}}</div>
                                    <div bootstrap-slider ng-model="vm.game.matchSettings.injuredHealth" max-value="50" min-value="5" step="5" style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>



                        <div class="row form-group">
                            <div class="col-md-3 text-center"><label class="form-control-label">{{resolve('SPRINT')}}</label></div>
                            <div class="col-md-3 text-center"><label class="form-control-label">{{resolve('LEAN')}}</label></div>
                            <div class="col-md-3 text-center"><label class="form-control-label">{{resolve('DEATH_REPLAY')}}</label></div>
                            <div class="col-md-3 text-center"><label class="form-control-label">{{resolve('ATTACKER_UNIQUE_SPAWN')}}</label></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3 text-center" toggle-button ng-model="vm.game.matchSettings.sprint" true-text="{{resolve('ON')}}" false-text="{{resolve('OFF')}}"></div>
                            <div class="col-md-3 text-center" toggle-button ng-model="vm.game.matchSettings.lean" true-text="{{resolve('ON')}}" false-text="{{resolve('OFF')}}"></div>
                            <div class="col-md-3 text-center" toggle-button ng-model="vm.game.matchSettings.deathReplay" true-text="{{resolve('ON')}}" false-text="{{resolve('OFF')}}"></div>
                            <div class="col-md-3 text-center" toggle-button ng-model="vm.game.matchSettings.attackerUniqueSpawn"></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title collapsed" style="cursor: pointer;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            {{resolve('MODE_SETTINGS')}}
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div style="display: inline-block; width: 35%; min-width: 150px;">
                            <div class="form-group">
                                <label class="form-control-label">{{resolve('GAME_MODE')}}</label>
                                <div>
                                    <div enum-dropdown="GAME_MODE" ng-model="vm.game.mode" class="form-control" />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="btn btn-secondary-outline" ng-click="$dismiss()">Cancel</button>
            <button type="submit" class="btn btn-success" ng-disabled="createForm.$invalid">Create</button>
        </div>
    </form>
</div>