<div class="row">
    <div class="col-md-7">
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="date"
                   is-open="isShowing" datepicker-options="dateOptions" ng-required="required" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="fa-calendar fa"></i></button>
            </span>

        </div>
    </div>
    <div class="col-md-5">
        <div uib-timepicker ng-model="time" ng-change="changed()" show-spinners="false" hour-step="1" minute-step="15" show-meridian="true"></div>
    </div>


</div>